*.iml
.idea/
.gradle
/local.properties
.DS_Store
/build/
/captures/
/app/release/
.externalNativeBuild/
.cxx/

# Internal Markdown Documentation
*.md
!/README.md
!/CONTRIBUTING.md
!/.github/**/*.md

# Android Signing & Secret Keys
*.jks
*.keystore
*.pepk
keystore.properties
signing.properties
